language: python
dist: xenial
cache: pip
branches:
  only:
  - master
  - advanced
env:
  - PYTHON_VERSION=3.6
  - PYTHON_VERSION=3.7
before_install:
    - wget -q http://repo.continuum.io/miniconda/Miniconda-3.6.0-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b -p /home/travis/miniconda
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda update --yes --quiet conda
install:
    - conda create -n testenv --yes pip python=$PYTHON_VERSION ipykernel
    - source activate testenv
    - pip install --upgrade pip
    - pip install -r testing-requirements.txt
    - pip install .
script:
    - flake8 rampwf --ignore=F401,E211,E265,W503,W504 --exclude rampwf/externals
    - pytest -s -v --cov=rampwf rampwf
after_success:
    - codecov
notifications:
  email: true
