pytest
pytest-cov
codecov
flake8
nbconvert
jupyter_client
seaborn
netCDF4
xarray
scikit-image
keras; python_version >= '3.5' and sys_platform != 'win32'
tensorflow; python_version >= '3.5' and sys_platform != 'win32'

