version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run: 
          name: prep environment & make docs
          command: |
            python3 -m venv test-env
            . test-env/bin/activate
            pip install -r requirements.txt
            pip install sphinx
            cd doc
            make html

workflows:
  version: 2
  push:
    jobs:
      - build