version: 2
jobs:
  doc-build:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run: 
          name: prep environment & make docs
          command: |
            python3 -m venv doc-env
            . doc-env/bin/activate
            pip install -r requirements.txt --progress-bar off
            pip install sphinx sphinx_rtd_theme --progress-bar off
            pip install .
            cd doc
            make html
      - persist_to_workspace: # save contents of doc/_build to intermediate location accesible to later jobs
          root: doc/_build 
          paths: html
  doc-deploy:
    docker:
      - image: node:8.10.0  # use node base image to use `npm` package
    steps:
      - checkout
      - attach_workspace:
          at: doc/_build # mounts the doc/_build dir
      - run:
          name: Disable jekyll builds
          command: touch doc/_build/html/.nojekyll
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "jliu176@gmail.com"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "77:20:93:4f:81:5f:94:83:33:b5:06:c7:31:e1:a0:c9"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Updates" --dist doc/_build/html
workflows:
  version: 2
  push:
    jobs:
      - doc-build
      - doc-deploy:
          requires: # only run if doc-build completes successfully
            - doc-build  
          filters:
            branches: # only run for builds of master branch
              only: master